<nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="assets/img/ICONO.png" alt="Logo" width="40" height="30" class="d-inline-block align-text-top">
            Artemisa
          </a>
        <!-- <span class="navbar-brand mb-0 h1">Artemisa</span> -->
    </div>
</nav>

<div class="container mt-2">
    <div class="row g-3">
        @for (solicitud of solicitudes; track $index) {
        <div class="col-12-col-md-6 col-lg-4 animate" *ngIf="solicitud.entregado === false" (click)="cerrar(solicitud)">
            <div class="card ">
                <div class="card-body">
                    <h3>
                       Solicitud: {{ solicitud.usuarioSolicitud }}
                    </h3>
                    <h5>
                       Parqueo: {{ solicitud.parqueo }}
                    </h5>
                    <span class="text-muted"> Fecha Solicitud{{ solicitud.fechaSolicitud | date: 'dd/MMM/yyyy HH:mm' }}</span>
                </div>
            </div>
        </div>
        }
        @if(getPendientes() === 0) {
        <h4>Sin solicitudes aún</h4>
        }
    </div>
</div>